body {
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
}
img {
    width: 100%;
}
header .navbar-brand {
    display: inline-block;
    max-width:130px;
}
header .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
header .navbar-nav  {
    max-width: 1100px;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 110px !important;
    margin-right:0 !important;
}
header .navbar-light {
    border-bottom: 3px solid #db1e0d;
}
header .navbar-collapse .header-mail-phone {
    margin-right:110px;
    margin-left:auto;
    text-decoration: none;
    min-width:142px;
}
header .navbar-collapse .header-mail-phone a {
    display: block;
    color: #000000;
}

footer {
    position: relative;
    z-index: 999;
    background: #111111;
    padding-top:50px;
}
footer .list-title {
    color: #525252;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom:20px;
    font-weight: 600;
    letter-spacing: 1px;
}
footer .list-bottom a,
footer address {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
}
footer ul li {
    line-height: 1.6;
}
footer .form-inline {
    flex-flow: row nowrap;
}
footer .form-inline .form-control {
    width:80%;
    margin-right:5px;
}
footer .bottom {
    background-color: #000;
    padding:40px 0
}
footer .security-right {
    font-size: 12px;
    font-weight: 300;
}
.wrapper {
    position: relative;
}
.vertical-text {
    position:absolute;
    width:100px;
    top: 0;
    right:0;
    bottom:0;
    border-left: 3px solid #db1e0d;
    z-index: 9990;
    background: #ffffff;
}
.table-text {
    display: table;
    height:100%;
    position: relative;
    width:100%;
}
.table-cell-text {
    position: absolute;
    left: -374px;
    top: 461px;
    color: #db1e0d;
    font-size: 40px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 300;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: center center;
    display: table-cell;
    vertical-align: middle;
    width: 990px;
    text-align: center;
    right: 0;
    bottom: 800px;
    width: 920px;
}
.bg-start {
    background: #eeeeee;
}
.bg-gray, .bg-gallery {
    background-color: #f7f7f7;
}
.bg-gray-dark {
    background-color: #b3b3b3;
}
.orange-btn {
    color: #ffffff;
    background-color: #f32f08;
}
.green-btn {
    color: #ffffff;
    background-color: #008000;
}
.heading h2 {
    font-size: 46px;
    font-weight: 600;
}
.heading .lead {
    font-size: 22px;
}
/* Content */
.card-wrapper {
    width: 50%;
    background-color: #fff;
}
.card-content {
    position: relative;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    order: 0;
}
.card-content:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-top-width: medium;
    border-bottom-width: medium;
    border-width: 20px;
    top: 50%;
    right: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left-color: #fff;
    right: -40px;
    border-right-color: transparent;
    border-left-color: #fff;
    left: inherit;
}
.card-content.c-right {
    order:1;
}
.card-content.c-right:after {
    left: -40px;
    border-right-color: #fff;
    border-left-color: transparent;
}

.image-wrapper {width:50%;}
.t-bgimg {
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.content-wrapper {
    padding: 20px;
}
.t-name {
    font-size:25px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.t-descr {
    font-size: 20px;
    font-weight: 300;
    color: #000;
}
.start-card {
    max-width:600px;
}
.card.start-card {
    background:#eeeeee;
    position: relative;
}
.start-card .arrow-d{
    width: 45px;
    position:absolute;
    left: 120px;
    bottom: 0;
}
.start-card .arrow-svg {
    display: block;
    text-align: center;
}
.start-card .arrow-m {
    width:25px;
    display: inline-block;
}
.start-card .title-card {
    font-size: 48px;
    font-weight: 600;
}
.start-card .desc {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
}
.start-card .btn {
    font-size: 20px;
    font-weight: 600;
    padding:15px 40px;
    cursor:pointer;
    color: #ffffff;
    background: #008000;
}
.informations .card-img-top {
    min-height:235px;
    max-height:235px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow:hidden;
}
.informations .card-img-top img {
    max-width: 100%;
    height: auto;
}
.informations a {
    font-weight: 600;
    color: #000;
    font-size: 26px;
    line-height: 1.23;
}

.card {
    border:none;
}
.card-body {
    padding-left:0;
    padding-right:0;
}
.text-muted {
    color: #777;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-title {
    font-weight: 600;
    color: #000;
    font-size: 26px;
    line-height: 1.23;
}
.card-text {
    font-size: 16px;
    line-height: 1.55;
    color: #777;
    font-weight: 300;
}
.section h3 {
    font-size: 40px;
    font-weight: 700;
}
.section ul {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
}
.section ul li {
    background: url("https://static.tildacdn.com/tild3935-6362-4661-b761-646264623465/Path.svg") no-repeat left center;
    background-size: 35px auto;
    padding:4px 0 4px 60px;
    line-height: 2;
}
#accordion .card {
    margin-bottom:2px;
}
#accordion .card-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
}
#accordion .card-body img {
    max-width:100%;
    height:auto;
    margin-bottom:20px;
    width:100%;
}
#accordion .btn {
    padding-top:1.25rem;
    padding-bottom:1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width:100%;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    text-align: left;
    line-height: 1.4;
}
#accordion .btn-link {text-decoration: none;}
#accordion .btn span:first-child {
    width:100%;
}

.collapse-btn {
    width:40px;
    height:40px;
    line-height: 35px;
    background: #ff3108;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.collapse-btn svg {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.collapsed svg {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.collapse-btn svg path {
    stroke: #ffffff;
}
#accordion .btn:hover .collapse-btn {
    background: #ffffff;
}
#accordion .btn:hover .collapse-btn svg path {
    stroke: #000000;
}
.section.form .container {
    max-width:800px;
}
.section.form h3 {font-size:30px;}
.section.form h3,
.section.form .lead {
    color: #ffffff;
}
a.tech-service {
    display: inline-block;
    line-height: 1;
    color: #ff3108;
    text-decoration: none;
}
.tech-service svg {
    vertical-align: bottom;
    font-size: 3em;
    width:30px;
    margin-left:10px;
    fill: #ff3108;
}
.services .row-cols-1 .card-img-top img {width:100%;}
.services .carousel {
    margin-left:-15px;
    margin-right:-15px;
    max-height:430px;
    min-height:430px;
    overflow: hidden;
}
.services .carousel-inner {padding-left:0;}
.services .carousel-indicators li {
    display: inline-block;
    background-color: #bebebe;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all .2s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 1;
}
.services .carousel-indicators li.active {
    background-color: #474747;
}

.services .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23a6a6a6' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    opacity:.7;
}
.services .carousel-control-next .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23a6a6a6' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    opacity:.7;
}
.services .carousel-control-prev:hover .carousel-control-prev-icon {
    opacity:1;
}
.services .carousel-control-next:hover .carousel-control-next-icon {
    opacity:1;
}


.services .content h2 {
    font-size: 28px;
    line-height: 1.17;
    font-weight: 700;
}
.services .detail-text {
    font-size:18px;
    font-weight: 300;
}
.card-price {
    max-width:360px;
}
.card-price .btn {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #008000;
}
.info-price {
    font-size: 30px;
    line-height: 1.17;
    font-weight: 600;
}
.services .desc {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
}
.section .detail-text {
    max-width:760px;
}
.services #accordion {max-width:760px;}
.services #accordion.cats {max-width:100%;}
.services #accordion .card-header {
    background:#ffffff;
    padding:0;
    border-bottom:none;
}
#accordion.cats .card-header {
    border-bottom:none;
    background: #f7f7f7;
    padding:0;
}
.form .form-control {
    color: #707070;
    height:55px;
}
.form-check-input {
    left:1.5rem;
}
.form textarea.form-control {
    height: 100px;
}
.form-group.custom-file {
    margin-bottom:1rem;
}
.form .btn {
    height:55px;
    padding-left:3rem;
    padding-right:3rem;
    font-weight: 700;
}
.form label.invalid-feedback {
    margin-bottom:0;
}
.delivery .width-img,
.informations .width-img {
    max-width: 460px;
    min-width:460px;
    width: 100%;
}
.delivery .width-img {
    min-height:360px;
    max-height:360px;
    overflow: hidden;
}

.informations .width-img img,
.services .card-img-top img {
    max-width:100%;
    height: auto;
}
.services .card-title a {
    font-weight: 600;
    color: #000;
    line-height: 1.23;
}
.delivery .block,
.informations .block {
    max-width:920px;
}
.delivery .card-text,
.informations .block .card-text {
    font-size: 18px;
    color: #000000;
}
.delivery .btn {
    font-size: 14px;
    font-weight: 700;
}
.block .left {
    display: table;
    order:1;
    padding-left:3rem !important;
}
.block.c-right .left {
    order:0;
    padding-left:0 !important;
    padding-right:3rem !important;
}
.block .left-content {
    display: table-cell;
}
#map {
    width: 100%; height: 550px; padding: 0; margin: 0;
}
.contact {
    position:relative;
}
.contact .card {
    left:15%;
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width:560px;
    z-index: 1;
}
.contact .card-address,
.contact .card-text {
    font-size: 18px;
    font-weight: 300;
}
.t-sociallinks__item {
    display: inline-block;
    margin: 4px 1px 0;
}
.gallery {padding-bottom:30px;}
.gallery .row {
    margin:0;
}
.gallery div.col-md-4,
.gallery div.col-md-8 {
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
}
.gallery .col-md-8 a {
    display: block;
    padding-bottom:66%;
}
.gallery .col-md-4 a {
    display: block;
    height:100%;
}
.information .detail-text {
    font-size:18px;
    font-weight: 300;
}

/* Modal */
.start-modal .modal-header,
.service-modal .modal-header {
    padding:0;
}
.start-modal .close,
.service-modal .close {
    position:absolute;
    right:.5rem;
    top:.5rem;
    z-index: 999;
}
.start-modal .modal-body,
.service-modal .modal-body {
    padding-left:2rem;
    padding-right:2rem;
}
.start-modal .modal-title,
.service-modal .modal-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}
.service-modal .modal-title {font-size:30px;}
.start-modal .form-control input,
.service-modal .form-control input {
    height:55px;
    font-weight: normal;
}
.start-modal .btn,
.form-control .btn{
    width:100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #008000;
    background-color: #008000;
}
.custom-control-label a {color: #f32f08;}
.lg-toolbar .lg-icon,
.lg-actions .lg-next, .lg-actions .lg-prev{
    color: #cccccc !important;
}
.lg-toolbar .lg-icon:hover,
.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
    color: #ffffff !important;
}
.lg-backdrop {
    background-color: #e5e5e5 !important;
}
.policy-list {
    padding-bottom:.8rem;
    margin-bottom:.8rem;
    border-bottom:1px solid #ffffff;
}
.m-phone {display: none}
@media (min-width: 1500px) {
    .navbar-expand-lg .navbar-collapse {
        padding-left: 130px;
    }
    header .navbar-nav {
        margin-left:auto !important;
        margin-right:auto !important;
    }
    header .navbar-collapse .header-mail-phone {
        margin-right: 145px;
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    header .navbar-brand {
        position:absolute;
    }
    header .navbar {
        padding-top:2.5rem;
        padding-bottom:2.5rem;
    }
}
@media (max-width: 1200px) {
    header .navbar-nav {
        margin-left:0 !important;
    }
}

@media (max-width:992px) {
    header .navbar-collapse .header-mail-phone {
        display: none;
    }
    header .m-phone {
        display: block;
        width:25px;
        margin-left:auto;
        margin-right:30px;
    }
    header .m-phone svg path {
        fill: #008000;
    }

    .navbar-collapse {
        border-top: 3px solid #db1e0d;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top:0.5rem;
        padding-top:0.5rem;
    }
    .heading h2 {font-size: 35px;}

    footer {padding-top:0;}
    header .navbar-nav {
        text-align: center;
    }
    .card-wrapper {
        width:100%;
    }
    .card-content.c-right {order:0;}
    .card-content.c-right::after {
        right: -40px;
        left:auto;
        border-left-color: #fff;
        border-right-color: transparent;

    }
    .card-wrapper:nth-child(2n) .card-content {order:1;}
    .card-wrapper:nth-child(2n) .card-content:after {
        left:-40px;
        right:auto;
        border-right-color: #fff;
        border-left-color: transparent;
    }
    .services .carousel {margin-left:0;margin-right:0;}
    .informations .flex-wrap .width-img {max-width:345px;min-width:345px;}
    .informations .flex-wrap .width-img img {
        width:100%;
    }

    .informations .block.py-5 {
        padding-bottom:1.5rem !important;
        padding-top:1.5rem !important;
    }

    .gallery .col-md-4 a {padding-bottom:66%;}
    .delivery .block, .informations .block {
        max-width:100%;
    }
    .delivery .flex-wrap .width-img {
        height:100%;
        max-height: 100%;
        min-height:100%;
        background-size: cover !important;
        background-position: center;
        max-width: 345px;
        min-width: 345px;
        line-height: 0;
        padding-bottom: 43.913%;
    }
    .informations .card-img-top {
        min-height:auto;
        max-height:100%;
    }
    .block.c-right .left {
        /*order:1;*/
        /*padding-right:0 !important;*/
    }
    .contact .card {
        position: relative;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        max-width:100%;
        left:0;
        top:0;
    }
    .contact .card.py-4.px-5 {
        padding:1rem 2rem !important;
    }
    #map {height:350px;}
}
@media (max-width:768px) {
    .informations .block .left,
    .delivery .block .left {
        padding-top:1rem;
        padding-left:0 !important;
    }
    .informations .flex-wrap .width-img,
    .delivery .flex-wrap .width-img {
        max-width:100%;
        min-width:auto;

    }
    .delivery .flex-wrap .width-img {
        padding-bottom: 73%;
    }
    .block.c-right .left {
        order:1;
        padding-right:0 !important;
    }
    .delivery .block {
        flex-direction:column;
        -webkit-flex-direction: column;
    }
    .delivery .left {
        width:100%;
        padding-top:20px;
        order:1;
        padding-right:0 !important;
        padding-left:0 !important;
    }
    .heading.py-5 {
        padding: 1.5rem 0 2rem !important;
    }
    .heading.py-5 h2 {
        text-align: center;
    }

    .delivery .block.my-5 {
        margin: 2.5rem 0 !important;
    }
    .informations .block.py-5 {
        padding: 1.5rem 0 !important;
    }
    .content.py-5 {
        padding: 1.5rem 0 !important;
    }
    .section h3 {font-size: 30px;}
    .card-price.py-5 {padding:1.5rem !important;}
    .services #accordion,
    .section.py-5 {
        padding:1.5rem 0 !important;
    }
    .services .carousel {
        min-height:auto;
        max-height:100%;
        overflow: visible;
        padding-bottom:30px;
    }
    .carousel-indicators {margin-bottom:0px;}
    .collapse-btn {border-radius:50%;}
    .start-modal .modal-header img, .service-modal .modal-header img {
        width:100%;
    }
    .contact .card.py-4.px-5 {
        padding: 1rem 2rem !important;
    }
}
@media (max-width:575px) {
    .informations .card-img-top a {
        width:100%;
        display: inline-block;
    }
    .informations .card-img-top img {width:100%;}
    .card-wrapper {
        flex-wrap: wrap;
    }
    .card-content, .image-wrapper {width:100%;}
    .card-wrapper:nth-child(2n) .card-content {order:0;}
    .card-content::after {
        display: none;
    }
    .t-bgimg {
        padding-bottom:70%;
        line-height: 0;
    }
    .start-modal .modal-body, .service-modal .modal-body {
        padding-top:0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .start-modal .modal-title, .service-modal .modal-title {font-size: 30px;}
    #accordion .btn,
    #accordion .card-body{
        padding-left:0.7rem;
        padding-right:0.7rem;
    }
    .contact .card.py-4.px-5 {
        padding: 0.7rem 1rem !important;
    }
}

.form-control::-webkit-input-placeholder { color: #707070 !important; }
.form-control::-moz-placeholder { color: #707070 !important; }
.form-control:-ms-input-placeholder { color: #707070 !important; }
.form-control:-moz-placeholder { color: #707070 !important; }
